#radio_content {
    position: fixed;
    bottom: 10px;
    z-index: 9999;
    background: #000;
    border-radius: 20px 0 0 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0 10px;
    transition-duration: 1s;
}
#radio_content.abierto {
    right: 0;
}
#radio_content.cerrado {
    right: -125px;
}
#radio_content svg {
    color: #fff;
    cursor: pointer;
}
#radio_content.abierto svg#abrir_radio, #radio_content.cerrado svg#cerrar_radio {
    display: none;
} 

@media screen and (max-width: 768px) {
    #radio_content {
        bottom: 0;
        border-radius: 0;
        width: 100%;
        padding: 10px;
    }
    #radio_content.abierto {
        right: 0;
    }
    #radio_content.cerrado {
        right: -90%;
    }
}

@media screen and (max-width: 480px) {
    #radio_content {
        bottom: 0;
        border-radius: 0;
        width: 100%;
        padding: 10px;
    }
    #radio_content.abierto {
        right: 0;
    }
    #radio_content.cerrado {
        right: -90%;
    }
}
