#radio_content {
    background: #000;
    border-radius: 20px 0 0 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0 10px;
    transition-duration: 1s;
    position: absolute;
    bottom: 0;
    right: -160px;
    z-index: 9999;
}

#radio_content.abierto {
    right: 0;
}

#radio_content.cerrado {
    right: calc(-130px - 100%);
}

#radio_content svg {
    color: #fff;
    cursor: pointer;
}

#radio_content.abierto svg#abrir_radio, #radio_content.cerrado svg#cerrar_radio {
    display: none;
}