.radio {
    position: fixed;
    bottom: 10px;
    right: 0;
    z-index: 9999;
  }
  
  .radio-toggle {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 20px 0 0 20px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .radio-content {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 9998;
    width: 300px;
    background-color: #000;
    padding: 10px;
    border-radius: 0 0 20px 0;
    display: none;
  }
  
  .radio-content.show {
    display: block;
  }
  
  .radio-player {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  
  .radio-close {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 0 0 20px 0;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }